<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hsy.com.mybatis.mapper.DonationMapper">

    <select id="getList"  resultType="Donation">
        select *
        from donation
    </select>
    <!-- 查询分页总数 -->
    <select id="selectCount" resultType="java.lang.Integer" >

        SELECT COUNT(*) FROM donation
    </select>
    <!-- 查询分页数据 -->
    <select id="selectCaseDetial" resultType="Donation">
        select  *  from (select  *  from donation   limit 0,5) b ORDER BY b.total asc;
    </select>

</mapper>
